body {
    background: linear-gradient(to bottom, #009688 0%, #009688 15%, #DBDBD2 15%, #DBDBD2 100%);
    height: 94vh;
}

img{
    max-width: 100%;
}

p{
    margin: 0;
}

.container-app{
    width: 1200px;
    height: 90vh;
    margin: auto;
    background-color: #f3eeea;
    display: flex;
}


.contacts{
    height: 90vh;
    background-color: white;
    width: 500px ;
}

.avatar{
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
}

.avatar img{
    border-radius: 50%;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.user{
    line-height: 80px;
    font-weight: bold;
}

.icons{
    color: gray;
    font-size: 1.25rem;
    margin-right: 1rem;
}

#alert-message{
    background-color: #8edafc;
    height: 10vh;
    display: flex;
    align-items: center;
}

.message{
    line-height: 15px;
}

.message p{
    font-weight: 700;
}

.message a{
    color: gray;
    font-size: .8rem;
}

.bell-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.input-group{
    width: 90%;
}

.aside{
    height: 57vh;
    overflow-y: auto;
}

.active{
    background-color: #eaeaea;
}

.container_avatar{
    border-top: .5px solid lightgrey;
    border-bottom: .5px solid lightgrey;
    cursor: pointer;
}

.container_avatar>span{
    font-size: .8rem;
    margin-right: 5px;
    margin-top: 10px;
}

.avatars img{
    border-radius: 50%;
    height: 60px;
    margin: 10px 10px;
}

.last_message{
    font-size: .8rem;
}

section{
    width: 700px;
}

.chat_text{
    height: 573px;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

.sent_message{
    background-color: #D5F9BA;
    margin-bottom: 10px;
    padding: 15px 5px 0 10px;
    width:250px;
    font-size: .90rem;
    border-radius: 10px;
}

.received_message{
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 45px;
    padding: 10px 5px 0 10px;
    width:250px;
    font-size: .90rem;
    border-radius: 10px;
}

.sent_message >.time{
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
}

.received_message >.time{
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
}

.container_text{
    width: 640px;
    padding-top: 20px;
}

.writing_bar .icons{
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 52px;
}

.writing_bar .input-group{
    width: 590px;
}